:root {
    /* Default Light Theme Colors */

    /* Background colors for various UI elements */
    --color-app-background: #fffcfc; /* App background - Used as the main background color across the app */
    --color-secondary-background: #fef8f7; /* Subtle background - Ideal for backgrounds of secondary containers like sidebars */
    --color-default-ui-background: #fdebe8; /* Normal UI element background - Default background for buttons, inputs, etc. */
    --color-hover-ui-background: #ffddd6; /* Hovered UI element background - Indicates hover state for interactive elements */
    --color-active-ui-background: #ffcec5; /* Active/Selected UI element background - Marks active or selected state of components */

    /* Border and separator colors */
    --color-default-border: #fabeb3; /* Borders and separators for non-interactive elements like dividers */
    --color-focused-border: #f1ab9e; /* Subtle borders for active elements and focus rings */
    --color-hover-border: #e79182; /* Strong border for interactive elements e.g., on hover */

    /* Solid background colors */
    --color-primary-button-background: #db4e3b; /* Primary components background - Used for primary action buttons */
    --color-primary-button-hover: #cd3e2c; /* Hover state for solid backgrounds - Darker shade for hover states on primary components */

    /* Text colors */
    --color-low-contrast-text: #ca3d2c; /* Low-contrast text - For less important text that doesn't require high visibility */
    --color-high-contrast-text: #5b271f; /* High-contrast text - Used for all high priority text for optimal readability */
    
    /* Additional UI colors for alerts and accents */
    --color-very-light-alert: #ff000003; /* Very light alert overlay, suitable for slight warnings or information */
    --color-light-alert: #e0200008; /* Light alert, suitable for minor warnings */
    --color-moderate-alert: #e9220017; /* Moderate alert, for noticeable caution */
    --color-medium-alert: #ff2c0029; /* Medium alert, more pronounced caution */
    --color-noticeable-alert: #ff28003a; /* Noticeable alert, cannot be ignored easily */
    --color-significant-alert: #ef25004c; /* Significant alert, for important warnings */
    --color-high-alert: #db230061; /* High alert, for very important and urgent warnings */
    --color-intense-alert: #cf1f007d; /* Intense alert, for severe warnings */
    --color-severe-alert: #d01900c4; /* Severe alert, for very severe and critical conditions */
    --color-extreme-alert: #c31600d3; /* Extreme alert, for the most critical conditions */
    --color-maximum-alert: #bf1500d3; /* Maximum alert, the highest level of alert before critical */
    --color-strong-critical-alert: #440900e0; /* Strong critical alert, used for the most urgent and dangerous situations */
    
    /* Contrast and surface colors for general UI use */

    /* UI Contrast Color:
        This is used for high-contrast text and other critical UI elements that must be highly visible.
        The white color ensures optimal readability against darker backgrounds and is essential for accessibility. */
    --color-ui-contrast: #fff; /* High contrast text color */

    /* UI Surface Color:
        Applied to general surfaces such as backgrounds of cards, modals, and other overlay components.
        The subtle transparency (cc at the end of the hex code indicates an 80% opacity) allows for layering effects where the background can slightly show through, enhancing depth and visual interest. */
    --color-ui-surface: #fef6f5cc; /* General UI surface color */

    /* Indicator Color:
        This color is designated for dynamic UI elements like sliders and progress bars that indicate a value or level.
        The vibrant orange-red color stands out against both light and dark backgrounds, providing clear visual cues to users. */
    --color-indicator: #db4e3b; /* Indicator color for sliders, progress bars */

    /* Track Color:
        Matches the indicator color to ensure visual consistency within components like sliders and progress bars.
        This uniformity helps users intuitively understand that both elements are part of the same interactive control. */
    --color-track: #db4e3b; /* Track color for sliders, progress bars */
    
    /* Light to Dark Grays - Descriptive based on common usage */
    --color-lightest-gray-background: #fcfcfd; /* Used for lightest backgrounds */
    --color-lighter-gray-background: #f9f9fb; /* Used for slightly darker backgrounds */
    --color-medium-gray-background: #eff0f3; /* Common background color */
    --color-normal-gray-background: #e7e8ec; /* Medium background, suitable for subtle contrasts */
    --color-regular-gray-background: #e0e1e6; /* Regular gray, good for neutral backgrounds */

    /* Darker Grays */
    --color-dark-gray-border: #d8d9e0; /* Dark gray for less prominent borders */
    --color-darker-gray-border: #cdced7; /* Ideal for more pronounced borders or separators */
    --color-darkish-gray-border: #b9bbc6; /* Darkish gray for subtle emphasis */

    /* Solid Background Grays */
    --color-solid-gray-background: #8b8d98;  /* Solid gray for less interactive elements */
    --color-hover-gray-background: #80828d; /* Hover state for solid backgrounds */

    /* Text Grays */
    --color-normal-gray-text: #62636c;  /* Normal text color */
    --color-dark-gray-text: #1e1f24; /* Dark gray for high contrast text */
    
    /* Accent Grays */
    --color-very-light-gray-accent: #00005503; /* Very light gray accent, almost transparent */
    --color-extra-light-gray-accent: #00005506; /* Extra light gray accent, slightly more visible than very light */
    --color-light-gray-accent: #00104010; /* Light gray accent, noticeable yet subtle */
    --color-noticeable-gray-accent: #000b3618; /* Noticeably darker gray, good for mild emphasis */
    --color-moderate-gray-accent: #0009321f; /* Moderate gray accent, distinct without overpowering */
    --color-medium-gray-accent: #00073527; /* Medium gray accent, suitable for average emphasis */
    --color-significant-gray-accent: #00063332; /* Significant gray, stands out more prominently */
    --color-strong-gray-accent: #00083046; /* Strong gray accent, ideal for important UI markers */
    --color-intense-gray-accent: #00051d74; /* Intense gray accent, very vivid and eye-catching */
    --color-deep-gray-accent: #00051b7f; /* Deep gray accent, deeper and more pronounced */
    --color-extreme-gray-accent: #0002119d; /* Extreme gray accent, nearly the deepest gray before maximum */
    --color-dark-gray-accent: #000107e1; /* Dark gray accent, used for the most critical and standout elements */
    
    /* Contrast and surface colors for general UI use */

    /* High Contrast Color: 
        Used for text and UI elements that require maximum visibility against various backgrounds.
        This color ensures that essential information stands out and is accessible. */
    --color-general-contrast: #FFFFFF;

    /* Surface Color: 
        This semi-transparent white color is used for surfaces of containers, menus, dialogs, and other UI elements.
        The slight transparency allows underlying design elements to be subtly visible, adding depth and layering to the interface. */
    --color-general-surface: #ffffffcc;

    /* Indicator Color: 
        Used for visual elements that indicate status or progress, such as in progress bars and sliders.
        This neutral gray balances visibility without overpowering other design elements. */
    --color-general-indicator: #8b8d98;

    /* Track Color:
        Applied to the track parts of sliders and progress bars, matching the indicator color for visual consistency.
        This ensures that components are coherent and the interface remains harmonious. */
    --color-general-track: #8b8d98;

    /* Background */
    --color-background: #fff; /* Default background color for light theme */
}

.dark-theme {
    /* Overriding light theme colors for dark theme colors */
    --color-app-background: #160f0e;
    --color-secondary-background: #1e1513;
    --color-default-ui-background: #371712;
    --color-hover-ui-background: #4c1710;
    --color-active-ui-background: #5c1f16;
    --color-default-border: #6c2b22;
    --color-focused-border: #843c31;
    --color-hover-border: #aa4e40;
    --color-primary-button-background: #db4e3b;
    --color-primary-button-hover: #cc402e;
    --color-low-contrast-text: #ff907c;
    --color-high-contrast-text: #fad4cd;
  
    --color-very-light-alert: #e6000006;
    --color-light-alert: #fe5a360e;
    --color-moderate-alert: #fe371829;
    --color-medium-alert: #fd290e40;
    --color-noticeable-alert: #fd3d2151;
    --color-significant-alert: #fe553e62;
    --color-high-alert: #fd69537c;
    --color-intense-alert: #ff705aa4;
    --color-severe-alert: #fe5842d9;
    --color-extreme-alert: #fe4c35c9;
    --color-maximum-alert: #ff907c;
    --color-strong-critical-alert: #ffd8d1fa;
  
    --color-ui-contrast: #fff;
    --color-ui-surface: #2b191580;
    --color-indicator: #db4e3b;
    --color-track: #db4e3b;

    --color-lightest-gray-background: #111113;
    --color-lighter-gray-background: #19191b;
    --color-medium-gray-background: #222325;
    --color-normal-gray-background: #292a2e;
    --color-regular-gray-background: #303136;
    --color-dark-gray-border: #393a40;
    --color-darker-gray-border: #46484f;
    --color-darkish-gray-border: #5f606a;
    --color-solid-gray-background: #6c6e79;
    --color-hover-gray-background: #797b86;
    --color-normal-gray-text: #b2b3bd;
    --color-dark-gray-text: #eeeef0;
  
    --color-very-light-gray-accent: #1111bb03;
    --color-extra-light-gray-accent: #cbcbf90b;
    --color-light-gray-accent: #d6e2f916;
    --color-noticeable-gray-accent: #d1d9f920;
    --color-moderate-gray-accent: #d7ddfd28;
    --color-medium-gray-accent: #d9defc33;
    --color-significant-gray-accent: #dae2fd43;
    --color-strong-gray-accent: #e0e3fd60;
    --color-intense-gray-accent: #e0e4fd70;
    --color-deep-gray-accent: #e3e7fd7e;
    --color-extreme-gray-accent: #eff0feb9;
    --color-dark-gray-accent: #fdfdffef;
  
    --color-general-contrast: #FFFFFF;
    --color-general-surface: rgba(0, 0, 0, 0.05);
    --color-general-indicator: #6c6e79;
    --color-general-track: #6c6e79;

    --color-background: #111;
}

/* Default styling for the body */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.875rem; /* 14px if html font-size is 16px */
    color: var(--color-high-contrast-text);
    overflow-x: hidden;
}

/* Styling for Headings and Paragraphs */
h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* Remove default margins for a clean and uniform typography layout */
}
